html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a,a:focus, a:hover{
   outline: 0 !important;
   -webkit-transition: all 200ms cubic-bezier(0.755, 0.050, 0.855, 0.060); 
   -moz-transition: all 200ms cubic-bezier(0.755, 0.050, 0.855, 0.060); 
     -o-transition: all 200ms cubic-bezier(0.755, 0.050, 0.855, 0.060); 
        transition: all 200ms cubic-bezier(0.755, 0.050, 0.855, 0.060);

-webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); 
   -moz-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); 
     -o-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); 
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); 
}
body{
	font-family:'Lato', Arial, Helvetica, sans-serif !important;
  overflow-x: hidden;
  background: #efefef;
  /*background: #898989;*/
}
.footer{
  background: #FFFFFF;
}
/*============================== Colors Start ===============================*/

/*================================Helper Css=================================*/
.p-0{padding: 0px !important;}
.m-0{margin: 0px !important;}
.divider{
    border-top: 1px solid #dedede;
    width: 100%;
}
.uppercase{text-transform: uppercase !important;}
/*================================Helper Css=================================*/
/*=============================== Colors End ================================*/
.blue{color: #1b4583 !important;}
.blue-bg{background: #1b4583 !important;}

.lightblue{color: #6982aa !important;}
.lightblue-bg{background: #6982aa !important;}

.white{color: #FFFFFF !important;}
.white-bg{background: #FFFFFF !important;}

.black{color: #000000 !important;}
.black-bg{background: #000000 !important;}

.darkgrey{color: #4a4a4a !important;}
.darkgrey-bg{background: #4a4a4a !important;}

.mediumgrey{color: #979797 !important;}
.mediumgrey-bg{background: #979797 !important;}

.lightgrey{color: #d8d8d8 !important;}
.lightgrey-bg{background: #d8d8d8 !important;}

/*=============================== Fonts Start ===============================*/
/*@font-face {
    font-family: "Neuzeit-Grotesk";
    src: url("../fonts/Neuzeit-Grotest-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Neuzeit-Grotesk-bold";
    src: url("../fonts/Neuzeit-Grotesk-Bold.ttf") format("truetype");
}*/
@font-face {
    font-family: "BebasNeue";
    src: url("../fonts/BebasNeue.otf");
}
/*@font-face {
    font-family: "DINNeuzeitGrotesk-Bold";
    src: url("http://db.onlinewebfonts.com/t/ee0b916b2e7c8fef46ce318b6f5e8d65.eot");
    src: url("http://db.onlinewebfonts.com/t/ee0b916b2e7c8fef46ce318b6f5e8d65.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/ee0b916b2e7c8fef46ce318b6f5e8d65.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/ee0b916b2e7c8fef46ce318b6f5e8d65.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/ee0b916b2e7c8fef46ce318b6f5e8d65.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/ee0b916b2e7c8fef46ce318b6f5e8d65.svg#DINNeuzeitGroteskW01-Bold") format("svg");
}*/
/*================================ Fonts End ================================*/
.header .navbar-brand {
    position: absolute;
    width: 100%;
    height: 80px;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    padding: 0;
    display: flex;
    align-items: center;
    z-index: -1;
}
.header .navbar-brand img{
    margin: auto;
    max-width: 100%;
    width: 130px;
}
.header .navbar-nav>li>a{
  line-height: 50px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight:400; 
}
.header .social-head,
.header .menu{
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.header .social-head li{
    margin: 0 10px;
}
.header .social-head.navbar-nav>li>a{
  color: #4a4a4a;
  padding: 5px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.header .social-head.navbar-nav>li>a.home{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #4a4a4a;
  color: #FFFFFF;
  padding: 5px;
}
.header .social-head.navbar-nav>li>a.home:hover,
.header .social-head.navbar-nav>li>a.home:focus{
  background-color: #1b4583;
  color: #FFFFFF;
}
.header .social-head.navbar-nav>li>a.soc-icon:hover,
.header .social-head.navbar-nav>li>a.soc-icon:focus{
  color: #1b4583;
}
.header .menu a.btn{
  margin: 0 5px;
  padding: 5px 15px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
.header .menu a.btn.btn-donate{
  color: #FFFFFF;
  background-color: #4a4a4a;
  border-color: #979797;
}
.header .menu a.btn.btn-corporate{
  color: #4a4a4a;
  background-color: #FFFFFF;
  border-color: #979797;
}
.header .menu a.btn.btn-donate:hover, .header .menu a.btn.btn-donate:focus{
  background-color: #7a7a7a;
}
.header .menu a.btn.btn-corporate:hover, .header .menu a.btn.btn-corporate:focus{
  background-color: #4a4a4a;
  color: #FFFFFF;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  background-color: transparent;
}
.dropdown-menu{
  border:none;
  padding: 10px;
}
.dropdown-menu>li>a {
    color: #4a4a4a;
    line-height: 20px;
    font-weight: 400;
}
.dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 20%;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(255, 255, 255, 1);
  content: '';
}

@media screen and (max-width: 990px) {
.header .navbar-nav>li>a {
    padding: 15px 5px;
}  
}
.header{
    margin: 0px;
}  
@media screen and (max-width: 767px) {
.header{
    -webkit-box-shadow: 0px -5px 15px;
    -moz-box-shadow: 0px -5px 15px;
    box-shadow: 0px -5px 15px;
}  
.header .menu-left{
  text-align: center;
}  
.header .menu{
  display: block;
  height: auto;
  text-align: center;
}  
.header .social-head{
  height: auto;
  margin: 0px;
  padding: 10px;
}
.header .navbar-header{
  float: left;
}
.header .navbar-brand {
    position: relative;
    float: none;
    display: block;
    padding: 10px;
}
.header .navbar-nav>li>a {
    line-height: 20px;
}
.header .navbar-nav.menu>li, .header .navbar-nav.menu-left>li{
    border-bottom: 1px solid #eaeaea;
}
.header .menu a.btn {
    margin: 10px 5px 5px 0;
}
.navbar-nav .open .dropdown-menu{
  text-align: center;
}
}
/* @media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
} */
/************************hamburger Menu Navbar Toggle*************************/
.header .navbar-toggle {
    z-index:3;
    float: left;
    margin: 12px;
    border: none;
    background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.header .navbar-toggle:focus, .header .navbar-toggle:hover{
    background-color: transparent;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
@media screen and (max-width: 767px) {
.header .navbar-toggle {
    margin: 15px 8px;  
}
}
/************************hamburger Menu Navbar Toggle*************************/

/****************************** Banner Carousel ******************************/
/*.carousel {
}
.carousel .carousel-inner{
  max-height: 550px;
  overflow: hidden;
}
.carousel .carousel-inner .item img{
    height: auto;
    width: 100%;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #1b4583;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    border: 1px solid #1b4583;
    border-radius: 10px;
}*/

.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-controls .owl-nav [class*=owl-] {
    color: #fff;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #d6d6d6;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
    background: #869791;
    color: #fff;
    text-decoration: none
}
.owl-theme .owl-controls .owl-nav .disabled {
    opacity: .5;
    cursor: default
}
.owl-theme .owl-dots{
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 3%;
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline
}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #d6d6d6;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #1b4583;
}

/*.mainbanner .item{
  height: 540px;
  overflow: hidden;
}*/
.mainbanner .item .img-wrap{
  position: relative;
  height: 520px;
  /*max-height: 520px;*/
}
.probanner .item .img-wrap{
  position: relative;
  height: 380px;
}
.mainbanner .item .img-wrap img{
  display: block;
  max-width: 100%;
  height: auto;
  /*max-height: 100% !important;*/
}
.mainbanner .item .img-wrap:before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  z-index: 9;
}
.mainbanner .item .bancontent-wrap{
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  /*align-items: center;*/
  justify-content: center;
  flex-direction: column;
  position: absolute;
  z-index: 999;
  width: 50%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.mainbanner .item .bancontent-wrap h2{
  font-family:'BebasNeue', Arial, Helvetica, sans-serif !important;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 48px;
  display: block;
  letter-spacing: 1px;
  word-spacing: 1px;
}
.mainbanner .item .bancontent-wrap h4{
  font-family:'Lato', Arial, Helvetica, sans-serif !important;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 20px;
  display: block;
  letter-spacing: 1px;
  line-height: 24px;
}
.mainbanner .item .bancontent-wrap .location{
  font-family:'Lato', Arial, Helvetica, sans-serif !important;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  display: block;
  letter-spacing: 1px;
  line-height: 24px;
}
.mainbanner .item .bancontent-wrap .btn-news{
  color: #1b4583;
  background-color: #FFFFFF;
  border-color: #eaeaea;
  text-transform: uppercase;
  padding: 10px 15px;
  margin: 20px auto;
  width: 150px;
}
.mainbanner .item .bancontent-wrap .btn-news:hover,
.mainbanner .item .bancontent-wrap .btn-news:focus{
  background-color: #1b4583;
  border-color: #1b4583;
  color: #FFFFFF;
}
.mainbanner .item .bancontent-wrap .btn-projects{
   color: #FFFFFF;
   font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
}
.mainbanner .item .bancontent-wrap .btn-projects span{
    border: 2px solid #FFFFFF;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: block;
    margin: 5px auto;
}
.mainbanner .item .bancontent-wrap .btn-projects:hover,
.mainbanner .item .bancontent-wrap .btn-projects:focus{
   color: #1b4583;
}
.mainbanner .item .bancontent-wrap .btn-projects:hover span,
.mainbanner .item .bancontent-wrap .btn-projects:focus span{
    border: 2px solid #eaeaea;
    background: #FFFFFF;

}
/*.mainbanner .item .bancontent-wrap .btn-projects img{
  width: 32px;
  margin: 5px auto;
}*/


@media screen and (max-width: 990px) {
/*.owl-theme .owl-dots{
    bottom: 20%;
}*/
/*.mainbanner .item .bancontent-wrap{
  height: 70%;
}*/
.mainbanner .item .img-wrap {
    height: 360px;
} 
.probanner .item .img-wrap{
  height: 320px;
}
.mainbanner .item .bancontent-wrap h2{
  font-size: 36px;
}
.mainbanner .item .bancontent-wrap h4{
    font-size: 16px;
    line-height: 20px;
    }
    .mainbanner .item .bancontent-wrap .btn-news {
    padding: 7px 10px;
    margin: 10px auto;
    font-size: 12px;
    }

}
    
@media screen and (max-width: 767px) {
    .mainbanner .item .bancontent-wrap{
      position: relative;
      padding: 15px 5px;
      width: 90%;
}
.mainbanner .item .bancontent-wrap .location{
  color:#787878;
}  
.mainbanner .item .img-wrap {
    height: 260px;
}
.probanner .item .img-wrap{
  height: 260px;
}
.mainbanner .item .bancontent-wrap h2{
  font-size: 30px;
  color: #1b4583;
}
.mainbanner .item .bancontent-wrap h4{
  font-size: 14px;
  color: #1b4583;
}
.mainbanner .item .bancontent-wrap .btn-projects{
  font-size: 14px;
  color: #1b4583;
}  
.mainbanner .item .bancontent-wrap .btn-projects span{
  border: 2px solid #1b4583;
}
.mainbanner .item .bancontent-wrap .btn-news {
  padding: 7px 10px;
  margin: 10px auto;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #1b4583;
}
.owl-theme .owl-dots{
    top: 230px;
    bottom: auto;
}
}

@media screen and (max-width: 480px) {
 .mainbanner .item .img-wrap {
    height: 170px;
}   
.probanner .item .img-wrap{
  height: 170px;
}
.owl-theme .owl-dots{
    top: 140px;
    bottom: auto;
}
.mainbanner .item .bancontent-wrap h2{
  font-size: 24px;
}
.mainbanner .item .bancontent-wrap h4{
  font-size: 12px;
}
}
/****************************** Banner Carousel ******************************/

/********************************Donate Strip*********************************/
.donate-strip{
  background: #1b4583;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /*height: 100px;*/
  padding: 20px 10px;
  width: 100%;
}
.donate-strip .heading{
  font-family:'BebasNeue', Arial, Helvetica, sans-serif !important;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 32px;
  display: block;
  letter-spacing: 1px;
  word-spacing: 1px;
  margin: auto 15px;  
}
.donate-strip .donate-btn{
    color: #FFFFFF;
    border-color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
    font-weight: 400;
    margin: 0;
}
.donate-strip .donate-btn:hover,
.donate-strip .donate-btn:focus{
    background: #FFFFFF;
    color: #000;
}
@media screen and (max-width: 767px) {
.donate-strip{
  flex-direction: column;
}  
.donate-strip .heading{
  margin: 10px auto;
}
}
/********************************Donate Strip*********************************/


/*******************************Project Section*******************************/
.project-section{
  background: #f0f0f0;
  width: 100%;
  margin: 0px;
}
.section-heading{
  font-family:'BebasNeue', Arial, Helvetica, sans-serif ;
  font-size: 30px;
  margin: 20px 0;
  font-weight: 400;
  padding: 10px;
  text-transform: uppercase;
  color: #3e3e3e;
  text-align: center;
  position: relative;
}
.section-heading:after{
  content: '';
  width: 330px;
  /*width: 250px;*/
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 1px;
  position: absolute;
  background: #3e3e3e;
}
.section-subheading{
  font-size: 14px;
  font-weight: 400;
  color: #747474;
  text-transform: uppercase;
  text-align: center; 
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.highlight-project .project .pro-img-wrap{
  height: 550px;
}

.highlight-project .project .pro-img-wrap img{
  width: 100%;
  height: auto;
}
.highlight-project .project .pro-content{
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  z-index: 9;
  /*color:#FFFFFF;*/
}
.highlight-project .project .pro-content .pro-head .duration{
  color:#bababa;
}
.highlight-project .project .pro-content .pro-head .duration span{
  color:#FFFFFF;
}
.highlight-project .project .pro-content .pro-body{}
.highlight-project .project .pro-content .pro-body ul.pillars li{
  display: inline-block;
  list-style: none;
  padding: 10px;
}
.highlight-project .project .pro-content .pro-body ul.pillars li img{
  width: 34px;
}
.highlight-project .project .pro-content .pro-body .status{
  text-align: center;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bababa;
  font-size: 14px;
}
.highlight-project .project .pro-content .pro-body .status img{
  width: 24px;
  margin: 10px 5px;
}
.highlight-project .project .pro-content .pro-body .status span{
  text-transform:uppercase;
}
.highlight-project .project .pro-content .pro-body .heading-wrap{
  position: relative;
  border-top: 1px solid #545454;
  border-bottom: 1px solid #545454;
  padding: 15px;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 1px;
}
.highlight-project .project .pro-content .pro-body .heading-wrap .heading{
  font-family:'BebasNeue', Arial, Helvetica, sans-serif ;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}
.highlight-project .project .pro-content .pro-body .heading-wrap .sub-heading{
  font-family:'Lato', Arial, Helvetica, sans-serif !important;
  font-size: 16px;
  line-height: 24px;
  text-transform:uppercase;
}

.highlight-project .project .pro-content .pro-footer .updated{
  color:#bababa;
}
.highlight-project .project .pro-content .pro-footer .updated span{
  color:#FFFFFF;
}

.projects-list{
  /*position: relative;*/
  /*overflow: auto;*/
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-flow: row wrap;
  flex-wrap: wrap;
  height: 550px;
  overflow-y: auto;
  /*overflow-x: hidden; */
}
.projects-list .project{
  /*width: 50%;*/
  /*height: 50%;*/
  padding: 0px;
  /*display: inline-block;*/
  position: relative;
}
.projects-list .project .pro-img-wrap:before,
.highlight-project .project .pro-img-wrap:before{
  content: '';
  background: rgba(0,0,0,0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
}
.projects-list .project .pro-img-wrap{
     /*width: 337px;*/
    height: 275px; 
    width: 100%;
    /*height: 270px;*/
    overflow: hidden;
    position: relative;
}
.projects-list .project .pro-img-wrap img{
  width: 100%;
  height: auto;
}

.projects-list .project .pro-content{
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  z-index: 9;
  /*color:#FFFFFF;*/
}
.projects-list .project .pro-content .pro-head .duration{
  color:#bababa;
}
.projects-list .project .pro-content .pro-head .duration span{
  color:#FFFFFF;
}
.projects-list .project .pro-content .pro-body{}
.projects-list .project .pro-content .pro-body ul.pillars li{
  display: inline-block;
  list-style: none;
  padding: 10px;
}
.projects-list .project .pro-content .pro-body ul.pillars li img{
  width: 34px;
}
.projects-list .project .pro-content .pro-body .status{
  text-align: center;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bababa;
  font-size: 14px;
}
.projects-list .project .pro-content .pro-body .status img{
  width: 24px;
  margin: 10px 5px;
}
.projects-list .project .pro-content .pro-body .status span{
  text-transform:uppercase;
}
.projects-list .project .pro-content .pro-body .heading-wrap{
  position: relative;
  border-top: 1px solid #545454;
  border-bottom: 1px solid #545454;
  padding: 10px;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 1px;
}
.projects-list .project .pro-content .pro-body .heading-wrap .heading{
  font-family:'BebasNeue', Arial, Helvetica, sans-serif ;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}
.projects-list .project .pro-content .pro-body .heading-wrap .sub-heading{
  font-family:'Lato', Arial, Helvetica, sans-serif !important;
  font-size: 16px;
  line-height: 24px;
  text-transform:uppercase;
}

.projects-list .project .pro-content .pro-footer .updated{
  color:#bababa;
}
.projects-list .project .pro-content .pro-footer .updated span{
  color:#FFFFFF;
}

.highlight-project .project:hover .pro-img-wrap:before,
.projects-list .project:hover .pro-img-wrap:before{
  background: rgba(0,0,0,0.85);
  -webkit-transition: all 300ms cubic-bezier(0.755, 0.050, 0.855, 0.060); 
   -moz-transition: all 300ms cubic-bezier(0.755, 0.050, 0.855, 0.060); 
     -o-transition: all 300ms cubic-bezier(0.755, 0.050, 0.855, 0.060); 
        transition: all 300ms cubic-bezier(0.755, 0.050, 0.855, 0.060);
}

@media screen and (max-width: 767px) {
.projects-list .project{
  width: 100%;
}  
}
/*******************************Project Section*******************************/

/**************************Completed Project Section**************************/
.completed-project-section{
  background: #f0f0f0;
  width: 100%;
  margin: 0px;
}

#customNav.owl-nav,
.owl-controls .owl-nav{
  margin: auto;
  text-align: center;
}
#customNav.owl-nav [class*=owl-],
.owl-controls .owl-nav [class*=owl-]{
    font-size: 16px;
    margin: 5px;
    padding: 10px;
    width: 36px;
    height: 36px;
    background: #4a4a4a;
    color: #FFFFFF;
    display: inline-block;
    position: absolute;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 99;
}
#customNav.owl-nav .owl-prev,
.owl-controls .owl-nav .owl-prev{
  left: 5%;
  top: 0;
  bottom: 0;
  margin: auto;
}
#customNav.owl-nav .owl-next,
.owl-controls .owl-nav .owl-next{
  right: 5%;
  top: 0;
  bottom: 0;
  margin: auto;
}

/*.completed-project .owl-item{
  opacity: 0.5;
}
.completed-project .owl-item.active{
  opacity: 1 ;
}*/
/*.completed-project .active:last-of-type{
  opacity: 0.5 !important;
}*/

.completed-project .item{
  background: #4DC7A0;
  position: relative;
}

.completed-project .item .project{
  padding: 0px;
  position: relative;
}
.completed-project .item .project .pro-img-wrap:before{
  content: '';
  background: rgba(27,69,131,0.75);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
}
.completed-project .item .project .pro-img-wrap{
     /*width: 337px;*/
    height: 275px; 
    /*width: 100%;*/
    max-width: 100%;
    /*height: 270px;*/
    overflow: hidden;
    position: relative;
}
.completed-project .item .project .pro-img-wrap img{
  width: 100%;
  height: auto;
}

.completed-project .item .project .pro-content{
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  z-index: 9;
  /*color:#FFFFFF;*/
}
.completed-project .item .project .pro-content .pro-head .duration{
  color:#bababa;
}
.completed-project .item .project .pro-content .pro-head .duration span{
  color:#FFFFFF;
}
.completed-project .item .project .pro-content .pro-body{}
.completed-project .item .project .pro-content .pro-body ul.pillars li{
  display: inline-block;
  list-style: none;
  padding: 10px;
}
.completed-project .item .project .pro-content .pro-body ul.pillars li img{
  width: 34px;
}

.completed-project .item .project .pro-content .pro-body .beneficiaries{
  text-align: center;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bababa;
  font-size: 14px;
}
.completed-project .item .project .pro-content .pro-body .beneficiaries i{
  font-size: 18px;
  margin: 10px 5px;
}
.completed-project .item .project .pro-content .pro-body .beneficiaries span{
  text-transform:uppercase;
}
.completed-project .item .project .pro-content .pro-body .beneficiaries .num{
  font-size: 18px;
  color: #FFFFFF;
  margin: 10px 5px;
}


.completed-project .item .project .pro-content .pro-body .heading-wrap{
  position: relative;
  border-top: 1px solid #9c9c9c;
  border-bottom: 1px solid #9c9c9c;
  padding: 10px;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 1px;
}
.completed-project .item .project .pro-content .pro-body .heading-wrap .heading{
  font-family:'BebasNeue', Arial, Helvetica, sans-serif ;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}
.completed-project .item .project .pro-content .pro-body .heading-wrap .sub-heading{
  font-family:'Lato', Arial, Helvetica, sans-serif !important;
  font-size: 16px;
  line-height: 24px;
  text-transform:uppercase;
}
.completed-project .item .project .pro-content .pro-footer .updated{
  color:#bababa;
}
.completed-project .item .project .pro-content .pro-footer .updated span{
  color:#FFFFFF;
}
.completed-project-section .owl-carousel:before{
  content: '';
  z-index: 9999;
  /*background: rgba(84, 84, 84, 0.55);*/
  height: 100%;
  width: 155px;
  position: absolute;
  left: 0px;
  top: 0;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#787878+0,787878+50,989898+100&1+0,0.58+100 */
background: -moz-linear-gradient(left,  rgba(120,120,120,1) 0%, rgba(120,120,120,0.79) 50%, rgba(152,152,152,0.58) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(120,120,120,1) 0%,rgba(120,120,120,0.79) 50%,rgba(152,152,152,0.58) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(120,120,120,1) 0%,rgba(120,120,120,0.79) 50%,rgba(152,152,152,0.58) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#787878', endColorstr='#94989898',GradientType=0 ); /* IE6-9 */

}
.completed-project-section .owl-carousel:after{
  content: '';
  z-index: 9999;
  /*background: rgba(84, 84, 84, 0.55);*/
  height: 100%;
  width: 155px;
  position: absolute;
  right: 0px;
  top: 0;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#989898+0,787878+50,787878+100&0.58+0,1+100 */
background: -moz-linear-gradient(left,  rgba(152,152,152,0.58) 0%, rgba(120,120,120,0.79) 50%, rgba(120,120,120,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(152,152,152,0.58) 0%,rgba(120,120,120,0.79) 50%,rgba(120,120,120,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(152,152,152,0.58) 0%,rgba(120,120,120,0.79) 50%,rgba(120,120,120,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94989898', endColorstr='#787878',GradientType=0 ); /* IE6-9 */

}

@media screen and (max-width: 1200px) {
.completed-project-section .owl-carousel:before, .completed-project-section .owl-carousel:after{
  width: 112px;
}  
}

@media screen and (max-width: 767px) {
#customNav.owl-nav [class*=owl-] {
  position: relative;
}
#customNav.owl-nav .owl-prev {
    left: auto;
     top: 0; 
}
#customNav.owl-nav .owl-next {
    right: auto;
    top: 0;
}
.completed-project-section .owl-carousel:before, .completed-project-section .owl-carousel:after{
  display: none;
}
}
/**************************Completed Project Section**************************/


/****************************News & Media Section*****************************/
.news-media-section{
  background: #FFFFFF;
  width: 100%;
  margin: 0px;
  padding: 30px 0;
}
.news-section, .media-section{
  position: relative;
}

.news-section{
  padding: 0 50px;
}
.news-wrap .news{
  position: relative;
  margin-bottom: 20px;
}
.news-wrap .news .news-img-wrap{
  height: 370px;
}
.news-wrap .news .news-img-wrap:before {
    content: '';
    background: rgba(0,0,0,0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
}
.news-wrap .news .news-img-wrap img{
  width: 100%;
  height: auto;
}
.news-wrap .news .news-content{
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  z-index: 9;
  /*color:#FFFFFF;*/
}
.news-wrap .news .news-content .news-head .tag{
   color: #3d68a7;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.news-wrap .news .news-content .news-body .heading-wrap{
  position: relative;
  padding: 15px;
  text-align: center;
  color: #FFFFFF;
  width: 90%;
  margin: auto;
}
.news-wrap .news .news-content .news-body .heading-wrap .heading{
  font-family:'BebasNeue', Arial, Helvetica, sans-serif ;
  font-size: 30px;
  line-height: 34px;
  font-weight: 400;
  letter-spacing: 1px;
}
.news-wrap .news .news-content .news-body .heading-wrap .link{
  font-family:'Lato', Arial, Helvetica, sans-serif !important;
  font-size: 18px;
  line-height: 24px;
  color: #c7c7c7;
}
.news-wrap .news .news-content .news-footer .duration{
  color:#bababa;
}

.news-wrap .news-post{
  position: relative;
  margin-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
  padding: 10px 0 5px 0; 
}
.news-wrap .news-post .post-description{
  font-family:'Lato', Arial, Helvetica, sans-serif !important;
  font-size: 18px;
  line-height: 24px;
  color: #3e3e3e;
  margin-bottom: 10px;
}
.news-wrap .news-post .post-link{
  color: #c7c7c7;
  font-size: 16px;
}
.news-wrap .news-post .post-tag{
  color: #1b4583;
  font-size: 16px;
}
.news-wrap .news-post .post-duration{
  color: #747474;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}
.news-wrap .btn-more-news{
    color: #FFFFFF;
    background-color: #1b4583;
    border-color: #eaeaea;
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 0px 0;
    display: block;
}
.news-wrap .btn-more-news:hover,
.news-wrap .btn-more-news:focus{
    color: #1b4583;
    background-color: #f0f0f0;
}

.media-wrap{
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.media-wrap li{
  position: relative;
  width: 50%;
  overflow: hidden; 
}
.media-wrap li .media,
.media-wrap li .video{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7px;
  position: relative;
}
.media-wrap li .media .overlay{
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 99;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: rgba(27,69,131,0.75);
  padding: 20px;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
}
.media-wrap li .media:hover .overlay{
  opacity: 1;
}
.media-wrap li .media .overlay .media-heading{
  text-align: center;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}
.media-wrap li .media .overlay .media-description{
  font-size: 16px;
  text-align: center;
  line-height: 24px;
}

.media-wrap li .media .img-wrap,
.media-wrap li .video .img-wrap{
  height: 220px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.media-wrap li .media .img-wrap img,
.media-wrap li .video .img-wrap img{
  width: 100%;
  height: auto;
}
.media-wrap li .video .play-icon-wrap{
  z-index: 99;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.media-wrap li .video .play-icon-wrap .play-icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #1b4583;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}
.media-wrap li .video:hover .play-icon-wrap .play-icon{
  background: #FFFFFF;
  color: #1b4583;
}

@media screen and (max-width: 767px) {  
.media-wrap li{
  width: 100%;
}
}

/****************************News & Media Section*****************************/

/****************************Budget Chart Section*****************************/
.budget-chart-section{
  background: #FFFFFF;
  width: 100%;
  margin: 0px;
  padding: 30px 0;
}
.budget-chart-section .chart-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.budget-chart-section .chart-heading{
  text-transform: uppercase;
  font-size: 30px;
  font-family:'BebasNeue', Arial, Helvetica, sans-serif !important;
  letter-spacing: 1px;
  color: #1b4583;
  display: flex;
  flex-grow: 1;
}
/*#budgetchart{
  width   : 40%;
  height    : 200px;
} 
*/
@media screen and (max-width: 767px) {
.budget-chart-section .chart-heading{
  text-align: center;
}  
}

/****************************Budget Chart Section*****************************/

/*******************************Sponsor Section*******************************/
.sponsor-section{
    background: #f0f0f0;
    width: 100%;
    margin: 0px;
    padding: 45px 0;
}
.sponsor-section .become-sponsor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    height: 120px;
}
.become-sponsor .sponsor-heading{
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'BebasNeue', Arial, Helvetica, sans-serif !important;
    letter-spacing: 1px;
    color: #1b4583;
}
.become-sponsor .btn-sponsor{
    color: #FFFFFF;
    background-color: #1b4583;
    border-color: #eaeaea;
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 0px 0;
    display: block;
}
.become-sponsor .btn-sponsor:hover,
.become-sponsor .btn-sponsor:focus{
    color: #1b4583;
    background-color: #f0f0f0;
}
.sponsors .item{
  max-width: 100%;
  width: 120px;
  height: 120px;
  margin: auto;
}
.sponsors .item img{
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}
@media screen and (max-width: 767px) { 
.sponsor-section .become-sponsor{
  justify-content: center;
  flex-direction: column;
}
}
/*******************************Sponsor Section*******************************/

/*******************************Footer-section********************************/
.footer{
  background: #1e1e1e;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer .divider{
    border-top: 1px solid #545454;
    width: 100%;
    margin: 15px 0 5px;
}
.footer .footer-heading{
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Lato', Arial, Helvetica, sans-serif !important;
    display: inline-block;
    letter-spacing: 1px;
    color: #FEFEFE;
}
.footer .copyright{
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Lato', Arial, Helvetica, sans-serif !important;
    display: inline-block;
    letter-spacing: 1px;
    color: #868686;
    margin: 0 0 0 45px;
}
.footer .contact-details .social{
  position: relative;
  display: inline-block;

}
.footer .contact-details .social ul li{
  padding: 10px;
  display: inline-block;
}
.footer .contact-details .social ul li a{
  text-decoration: none;
  color: #868686;
  font-size: 14px;
}
.footer .contact-details .email{
  position: relative;
  display: inline-block;
  margin: 0 0 0 45px;
}
.footer .contact-details .email a{
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Lato', Arial, Helvetica, sans-serif !important;
  display: inline-block;
  letter-spacing: 1px;
  color: #868686;
}
.footer .powered{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer .powered h3{
  margin: 0 25px 0 0 ;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Lato', Arial, Helvetica, sans-serif !important;
  /*display: inline-block;*/
  letter-spacing: 1px;
  color: #FEFEFE;
}
.footer .powered img{
  max-width: 100%;
}
.footer .sitemap ul{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.footer .sitemap ul li{
  display: inline-block;
  padding: 5px 10px;
}
.footer .sitemap ul li a{
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Lato', Arial, Helvetica, sans-serif !important;
  display: inline-block;
  letter-spacing: 1px;
  color: #868686;
}
.footer .sitemap ul li.divider{
  width: 1px;
  height: 26px;
  background: #868686;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1200px) {
.footer .copyright{
  margin: 0px;
  letter-spacing: 0;
}  
}

@media screen and (max-width: 990px) {
.footer .sitemap ul li.divider{
  display: none;
}
.footer-left, .footer-right{
  text-align:center;
}
.footer .powered{
  justify-content: center;
}
.footer .sitemap ul{
  justify-content: center;
}
.footer .copyright{
  margin: 20px;
  display: block;
}
/*.footer .contact-details .social{
  display: block;
  margin: 10px;
}*/
.footer .contact-details .email{
  margin: 10px;
  display: block;
}
}
/*******************************Footer-section********************************/

/****************************Support Project Strip****************************/
.support-project-strip{
  background: #FFFFFF;
  /*height: 100px;*/
  position: relative;
  display: block;
  padding: 20px 10px;
  width: 100%;
}
.support-project-head-wrap{
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    width: 60%;
    margin: auto;
}
.support-project-strip .heading{
  font-family:'BebasNeue', Arial, Helvetica, sans-serif !important;
  text-transform: uppercase;
  color: #1b4583;
  font-size: 32px;
  display: block;
  letter-spacing: 1px;
  word-spacing: 1px;
  margin: auto 15px;  
}
.support-project-strip .donate-btn{
    color: #1b4583;
    border-color: #1b4583;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
    font-weight: 400;
    margin: 0;
}
.support-project-strip .donate-btn:hover,
.support-project-strip .donate-btn:focus{
    background: #1b4583;
    color: #FFFFFF;
}
.support-project-strip .social-share{
    display: inline-flex;
    width: 39%;
    align-items: center;
    justify-content: flex-end;
}
.support-project-strip .social-share .title{
  font-family:'Lato', Arial, Helvetica, sans-serif !important;
  text-transform: uppercase;
  color: #1b4583;
  font-size: 14px;
  font-weight: 400;
}
.support-project-strip .social-share ul{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.support-project-strip .social-share ul li{
  list-style: none;
  /*display: inline-block;*/
  width: 30px;
  height: 30px;
  background: #1b4583;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 5px;
}
.support-project-strip .social-share ul li:hover,
.support-project-strip .social-share ul li:focus{
  background: #3a66a7;
}
.support-project-strip .social-share ul li a{
  text-decoration: none;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
.support-project-strip{
  flex-direction: column;
}  
.support-project-strip .heading{
  margin: 10px auto;
}
.support-project-head-wrap {
    display: block;
    text-align: center;
    margin-bottom: 20px;    
}
.support-project-strip .social-share{
  display: block;
  width: 100%;
}
.support-project-strip .social-share .title{
  text-align: center;
  margin-bottom: 10px;
}
}
/****************************Support Project Strip****************************/

/******************************Progress Details*******************************/
.progress-details{
  background: #4a4a4a;
  position: relative;
  padding: 30px 0;
}
ul.progress-wrap{}
ul.progress-wrap li{
  border-bottom: 1px solid #6c6c6c;
  padding: 20px 0px;
  position: relative;
  overflow: hidden;
}
ul.progress-wrap li .flex{
  display: flex;
  align-items: center;
  position: relative;
  /*justify-content: center;*/
}
ul.progress-wrap li:last-child{
  border-bottom: none;
}
ul.progress-wrap li .heading{
  font-family:'BebasNeue', Arial, Helvetica, sans-serif !important;
  text-transform: uppercase;
  color: #9ba7bf;
  font-size: 32px;
  display: inline-block;
  letter-spacing: 1px;
  word-spacing: 1px;
  margin: auto 15px auto 0px;  
  line-height: normal;
}
ul.progress-wrap li .data{
  font-family:'Lato', Arial, Helvetica, sans-serif !important;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0 10px 0 0;
}
ul.progress-wrap li .data.big{
  font-size: 24px;
}
ul.progress-wrap li .data.right-data{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 15px 5px;
}
ul.progress-wrap li .status{
  display: inline-flex;
  margin-right: 50px;
}
ul.progress-wrap li .status .status-icon{
  width: 18px;
  margin:0 5px;
  vertical-align: middle;
}
ul.progress-wrap li .number-benficiaries{
  display: inline-flex;

}
ul.progress-wrap li .pillars .pillars-icon{
  width: 36px;
  margin: 0 5px;
  vertical-align: middle;
}
ul.progress-wrap li .bar-wrap{
  display: block;
    height: 50px;
    position: relative;
    margin: 10px 0;
    padding: 0px;
}
ul.progress-wrap li .bar-wrap .progress{
  margin: 0px;
  height: 60px;
  background-color: #f0f0f0;
  border-radius: 7px;
}
ul.progress-wrap li .bar-wrap .progress .progress-bar{
  background-color: #6982aa;
  position: relative;
}
ul.progress-wrap li .bar-wrap .progress .progress-bar:before{
  content: '';
    width: 100%;
    background-color: #7d93b8;
    display: block;
    position: absolute;
    z-index: 999;
    height: 50%;
}

@media screen and (max-width: 767px) {
ul.progress-wrap li .flex{
  display: block;
  margin-bottom: 20px;
}
ul.progress-wrap li .heading{
  display: block;
  text-align: center;
  margin: 5px 0;
}
ul.progress-wrap li .data{
  display: block;
  text-align: center; 
}
ul.progress-wrap li .status{
  margin-right: 0px;
}
ul.progress-wrap li .pillars .pillars-icon{
    display: block;
    text-align: center;
    margin: 10px auto;
}
ul.progress-wrap li .data.right-data{
  position: relative;
}
.progress-details .row{
  margin-left: 15px;
  margin-right: 15px;
}
}
/******************************Progress Details*******************************/

/**************************Updates Progress Section***************************/
.updates-progress-section{
  background: #FFFFFF;
  padding: 20px 0;
  position: relative;
}
.updates-progress-section .project-updates{
  position: relative;
}
.updates-progress-section .project-updates #update-timeline .more-arrow{
  background: #234c8e;
  color: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  width: 35px;
  height: 35px;
  bottom: -30px;
  right: 0;
  margin-right: -18px;
}
.updates-progress-section .project-updates #update-timeline .more-arrow:hover,
.updates-progress-section .project-updates #update-timeline .more-arrow:focus{
  background: #989898;
}

.updates-progress-section .project-updates #update-timeline .cd-timeline-block .cd-timeline-content .timeline-head{
  font-family: 'Lato', Arial, Helvetica, sans-serif !important;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  letter-spacing: 1px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.updates-progress-section .project-updates #update-timeline .cd-timeline-block .cd-timeline-content .timeline-head .duration{
  color: #787878;
  display: inline-block;
  margin: 0 10px ;
}
.updates-progress-section .project-updates #update-timeline .cd-timeline-block .cd-timeline-content .timeline-head .outcome{
  color: #FFFFFF;
  background: #787878;
  border-radius: 15px;
  padding: 7px;
  display: inline-block;
}
.updates-progress-section .project-updates #update-timeline .cd-timeline-block .cd-timeline-content .timeline-body{
  position: relative;
  /*display: block;*/
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.updates-progress-section .project-updates #update-timeline .cd-timeline-block .cd-timeline-content .timeline-body p{
  margin: 0.5em 0;
  line-height: 24px;
  font-size: 18px;
  color: #242424;
  text-align: right;
  word-wrap: break-word;
  word-break: break-word;
}
.updates-progress-section .project-updates #update-timeline .cd-timeline-block .cd-timeline-content .timeline-body img{
  width: 300px;
}
.updates-progress-section .project-updates #update-timeline .cd-timeline-block .cd-timeline-content .timeline-foot{
  position: relative;
  font-family: 'Lato', Arial, Helvetica, sans-serif !important;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.updates-progress-section .project-updates #update-timeline .cd-timeline-block .cd-timeline-content .timeline-foot .earned{
  color: #1c4583;
  display: inline-block;
  font-size: 20px;
  padding: 0 5px;
}
.updates-progress-section .project-updates #update-timeline .cd-timeline-block .cd-timeline-content .timeline-foot .total{
  color: #787878;
  display: inline-block;
  font-size: 14px;
}

@media screen and (max-width: 990px) {
.updates-progress-section .project-updates #update-timeline .cd-timeline-block .cd-timeline-content .timeline-head,
.updates-progress-section .project-updates #update-timeline .cd-timeline-block .cd-timeline-content .timeline-foot{
  justify-content: flex-start;
}  
.updates-progress-section .project-updates #update-timeline .cd-timeline-block .cd-timeline-content .timeline-body{
  align-items: flex-start;
}
.updates-progress-section .project-updates #update-timeline .cd-timeline-block .cd-timeline-content .timeline-body p{
  text-align: left;
}
.updates-progress-section .project-updates #update-timeline .more-arrow {
    left: 0;
    margin-left: -11px;
    right: auto;
}
}

@media screen and (max-width: 767px) {
.updates-progress-section .project-updates #update-timeline .cd-timeline-block .cd-timeline-content .timeline-head,
.updates-progress-section .project-updates #update-timeline .cd-timeline-block .cd-timeline-content .timeline-foot{
  justify-content: center;
}
.updates-progress-section .project-updates #update-timeline .cd-timeline-block .cd-timeline-content .timeline-body{
  align-items: center;
}
.updates-progress-section .project-updates #update-timeline .cd-timeline-block .cd-timeline-content .timeline-body p{
  text-align: center;
}  
.updates-progress-section .project-updates #update-timeline .more-arrow {
    left: 0;
    margin-left: auto;
    right: 0;
    margin: auto;
}
}
@media screen and (max-width: 480px) {
.updates-progress-section .project-updates #update-timeline .cd-timeline-block .cd-timeline-content .timeline-head{
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.updates-progress-section .project-updates #update-timeline .cd-timeline-block .cd-timeline-content .timeline-head .duration,
.updates-progress-section .project-updates #update-timeline .cd-timeline-block .cd-timeline-content .timeline-head .outcome{
  margin: 10px;
  display: block;
}
}



.updates-progress-section .outcomes-progress{}
.bigchartpie{
  width   : 100%;
  height    : 100%;
  font-size : 40px;
}
.smallchartpie{
  width: 220px;
  height: 250px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.barchart {
  /*width   : 100%;
  height    : 250px;
  font-size : 11px;*/
  display: block;
  max-width: 130px;
  max-height: 220px;
  margin: 15px 0;
}     

.main-progress{}
.main-progress .progress-content{
    font-weight: 400;
    letter-spacing: 1px;
    position: relative;
    padding: 0em 1.5em 0em 1em;
    width: 100%;
    height: 320px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.main-progress .progress-content .progress-head .outcome{
    font-family: 'Lato', Arial, Helvetica, sans-serif !important;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    color: #FFFFFF;
    background: #787878;
    border-radius: 15px;
    padding: 7px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.main-progress .progress-content .progress-head a:hover, .main-progress .progress-content .progress-head a:focus{
  background: #989898;
}
.main-progress .progress-content .progress-body{
    font-family: 'BebasNeue', Arial, Helvetica, sans-serif !important;
    margin: 0.5em 0;
    line-height: 24px;
    font-size: 24px;
    color: #1c4583;
    word-wrap: break-word;
    word-break: break-word;
    box-sizing: border-box;
    max-width: 100%;
}
.main-progress .progress-content .progress-foot{
    font-family: 'Lato', Arial, Helvetica, sans-serif !important;
    color: #787878;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}
.main-progress .progress-content .progress-foot .earned{
    color: #787878;
    font-weight: 400;
    padding: 0 5px 0 0;
}

ul.outcomes-progress-wrap li{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  flex-wrap: wrap;
  margin: 0;
  padding: 25px 20px;  
}

ul.outcomes-progress-wrap li .outcomes-progress-content{
    font-weight: 400;
    letter-spacing: 1px;
    position: relative;
    padding: 0em 2.5em 0em 1em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
ul.outcomes-progress-wrap li .outcomes-progress-content .progress-head .outcome{
  font-family: 'Lato', Arial, Helvetica, sans-serif !important;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    color: #FFFFFF;
    background: #787878;
    border-radius: 15px;
    padding: 7px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}
ul.outcomes-progress-wrap li .outcomes-progress-content .progress-head .outcome:hover,
ul.outcomes-progress-wrap li .outcomes-progress-content .progress-head .outcome:focus{
  background: #989898;
}
ul.outcomes-progress-wrap li .outcomes-progress-content .progress-body{
    font-family: 'BebasNeue', Arial, Helvetica, sans-serif !important;
    margin: 0.5em 0;
    line-height: 24px;
    font-size: 24px;
    color: #1c4583;
    word-wrap: break-word;
    word-break: break-word;
    box-sizing: border-box;
    max-width: 100%;
}
ul.outcomes-progress-wrap li .outcomes-progress-content .progress-foot{
  font-family: 'Lato', Arial, Helvetica, sans-serif !important;
    color: #787878;
    display: inline-block;
    font-size: 18px;
}
ul.outcomes-progress-wrap li .outcomes-progress-content .progress-foot strong{
  font-weight: bold;
}
.background{}
.background .heading{
  font-family: 'BebasNeue', Arial, Helvetica, sans-serif !important;
    margin: 0.5em 0;
    line-height: 24px;
    font-size: 24px;
    color: #1c4583;
}
.background .description{
  font-family: 'Lato', Arial, Helvetica, sans-serif !important;
    margin: 0.5em 0;
    line-height: 24px;
    font-size: 16px;
    color: #787878;
    word-wrap: break-word;
    word-break: break-word;
}
.background .img-wrap{
  width: 100%;
  height: 300px;
  overflow: hidden;
}

@media screen and (max-width: 990px) {
.main-progress .progress-content{
  align-items: center;
  justify-content: center;
  height: 160px;
}  
.main-progress .progress-content .progress-body,
ul.outcomes-progress-wrap li .outcomes-progress-content .progress-body{
  text-align: center;
}
}
/**************************Updates Progress Section***************************/

/************************************Modal************************************/

.modal{}
.modal .modal-dialog .modal-content .modal-header{
    min-height: 30px;
    padding: 10px;
    border-bottom: none;
}
.modal .modal-dialog .modal-content .modal-header .close{
  color: #1c4583;
  font-size: 30px;
  outline: none;
  margin-right: 10px;
}
.modal .modal-dialog .modal-content .modal-body{
  text-align: center;
}

.outcome-modal{
    font-family: 'Lato', Arial, Helvetica, sans-serif !important;
    font-size: 14px;
}

.outcome-modal .outcome-wrap{
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.outcome-modal .outcome{
    color: #FFFFFF;
    background: #787878;
    border-radius: 15px;
    padding: 7px;
    display: inline-block;
    text-decoration: none;
}
.outcome-modal .heading{
    font-family: 'BebasNeue', Arial, Helvetica, sans-serif !important;
    margin: 0.5em 0;
    line-height: 24px;
    font-size: 24px;
    letter-spacing: 1px;
    color: #747474;
    text-align: center;
}
.outcome-modal .divider{
    width: 30%;
    border-top: 1px solid #c7c7c7;
    margin: 20px auto;
}

.outcome-modal .outcome-modalbody .pillars{
  display: flex;
  align-items: center;
  justify-content: center;
}
.outcome-modal .outcome-modalbody .pillars h4{
  margin: 0.5em 0;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #747474;
    display: inline-block;
}
.outcome-modal .outcome-modalbody .pillars ul.icons{display: inline-block;}
.outcome-modal .outcome-modalbody .pillars ul.icons li{
  list-style: none;
  display: inline-block;
}
.outcome-modal .outcome-modalbody .pillars ul.icons li a{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: block;
  position: relative;
  margin: 0 5px;
  padding: 3px;
  background: #1c4583;
  text-decoration: none;
}
.outcome-modal .outcome-modalbody .pillars ul.icons li a img{
  max-width: 100%;
}
.outcome-modal .outcome-modalbody .description{
  line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #949494;
    display: block;
    margin:20px 0;
}

/************************************Modal************************************/